openapi: 3.0.0

info:
 version: '1.0'
 title: 'LBAW MediaLibrary Web API'
 description: 'Web Resources Specification (A7) for MediaLibrary'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:
 description: Find more info here.
 url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a07

tags:
 - name: 'M01: Authentication and Profile'
 - name: 'M02: Products and Categories'
 - name: 'M03: Management Area'
 - name: 'M04: Product and Reviews'
 - name: 'M05: Static pages'
 - name: 'M06: Cart and Wishlist'

paths:
 /login:
   get:
     operationId: R101
     summary: 'R101: Login Form'
     description: 'Provide login form. Access: PUB'
     tags:
       - 'M01: Authentication and Profile'
     responses:
       '200':
         description: 'Ok. Show Log-in UI'
   post:
     operationId: R102
     summary: 'R102: Login Action'
     description: 'Processes the login form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               email:
                 type: string
               password:
                 type: string
             required:
                  - email
                  - password

     responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Error:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /logout:

   post:
     operationId: R103
     summary: 'R103: Logout Action'
     description: 'Logout the current authenticated user. Access: USR, ADM'
     tags:
       - 'M01: Authentication and Profile'
     responses:
       '302':
         description: 'Redirect after processing logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful logout. Redirect to login form.'
                 value: '/login'

 /register:
   get:
     operationId: R104
     summary: 'R104: Register Form'
     description: 'Provide new user registration form. Access: PUB'
     tags:
       - 'M01: Authentication and Profile'
     responses:
       '200':
         description: 'Ok. Show Sign-Up UI'

   post:
     operationId: R105
     summary: 'R105: Register Action'
     description: 'Processes the new user registration form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               username:
                 type: string
               email:
                 type: string
               password:
                 type: string
             required:
              - username
              - email
              - password

     responses:
       '302':
         description: 'Redirect after processing the new user information.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Failure:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /users/view-profile:
   get:
     operationId: R106
     summary: 'R106: View profile'
     description: 'Show the individual user profile. Access: USR'
     tags:
       - 'M01: Authentication and Profile'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Show User Profile UI'

 /users/edit-profile:
   get:
     operationId: R107
     summary: 'R107: Edit Profile Form'
     description: 'Provide the User Profile Edition Form. Access: USR'
     tags:
       - 'M01: Authentication and Profile'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Show Edit User Profile UI'

   post:
     operationId: R108
     summary: 'R108: Edit Profile Action'
     description: 'Processes the user profile edition form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               email:
                 type: string
               username:
                 type: string
               password:
                 type: string
             required:
              - email
              - username
              - password

/api/games:
    get:
      operationId: R201
      summary: 'R201: Simple Match Search'
      description: 'Searches for games and returns the results as JSON. Access: PUB.'

      tags:
        - 'M02: Products and Categories'

      parameters:
        - in: query
          name: query
          description: String to use for simple match search
          schema:
            type: string
          required: false
        - in: query
          name: item
          description: Category of the games
          schema:
            type: string
          required: false
        - in: query
          name: loaned
          description: Boolean with the loaned flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: owner
          description: Boolean with the owner flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: classification
          description: Integer corresponding to the work classification
          schema:
            type: integer
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string

    get:
      operationId: R203
      summary: 'R203: Full Text Search'
      description: 'Searches for games and returns the results as JSON. Access: PUB.'

      tags:
        - 'M02: Products and Categories'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: item
          description: Category of the games
          schema:
            type: string
          required: false
        - in: query
          name: loaned
          description: Boolean with the loaned flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: owner
          description: Boolean with the owner flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: classification
          description: Integer corresponding to the game classification
          schema:
            type: integer
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    description:
                      type: string
                    year:
                      type: string
                    publisher:
                      type: string
                    category:
                      type: string

 /cancel-order:
      get:
          operationId: R301
          summary: 'R301: Cancel Order Form'
          description: 'Provide Order Cancelation Form. Access: PUB'
          tags:
            - 'M04: Product and Reviews'
          responses:
            '203':
              description: 'Ok. Show Order Cancelation UI.'
      delete:
       operationId: R302
       summary: 'R302: Cancel Order Action'
       tags:
        - 'M04: Product and Reviews'
       responses:
        '201' :
           description: 'Order Canceled'
        '404' :
           description: 'Order not found'
        '401' :
           description: 'Unauthorized Operation'

 /game:
      get:
          operationId: R401
          summary: 'R401: View Game'
          description: 'Provide a general games page. Access: PUB'
          tags:
            - 'M04: Product and Reviews'
          responses:
            '203':
              description: 'Ok. Show games Page.'

 /game/{id}:
      get:
          operationId: R401
          summary: 'R402: View Game Details'
          description: 'Provide a specific game page. Access: PUB'
          tags:
            - 'M04: Product and Reviews'
          responses:
            '203':
              description: 'Ok. Show game Page.'
