openapi: 3.0.0

info:
 version: '1.0'
 title: 'LBAW MediaLibrary Web API'
 description: 'Web Resources Specification (A9) for MediaLibrary'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:
 description: Find more info here.
 url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a09

tags:
 - name: 'M01: Authentication and Profile'
 - name: 'M02: Products and Categories'
 - name: 'M03: Management Area'
 - name: 'M04: Product and Reviews'
 - name: 'M05: Static pages'
 - name: 'M06: Cart and Wishlist'

paths:
 /login:
   get:
     operationId: R101
     summary: 'R101: Login Form'
     description: 'Provide login form. Access: PUB'
     tags:
       - 'M01: Authentication and Profile'
     responses:
       '200':
         description: 'Ok. Show Log-in UI'
   post:
     operationId: R102
     summary: 'R102: Login Action'
     description: 'Processes the login form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               email:
                 type: string
               password:
                 type: string
             required:
                  - email
                  - password

     responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Error:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /logout:
   get:
     operationId: R103
     summary: 'R103: Logout Action'
     description: 'Logout the current authenticated user. Access: USR, ADM, PUBLISHER'
     tags:
       - 'M01: Authentication and Profile'
     responses:
       '200':
         description: 'Ok. Log out'

 /register:
   get:
     operationId: R104
     summary: 'R104: Register Form'
     description: 'Provide new user registration form. Access: PUB'
     tags:
       - 'M01: Authentication and Profile'
     responses:
       '200':
         description: 'Ok. Show Sign-Up UI'

   post:
     operationId: R105
     summary: 'R105: Register Action'
     description: 'Processes the new user registration form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               username:
                 type: string
               email:
                 type: string
               password:
                 type: string
             required:
              - username
              - email
              - password

     responses:
       '302':
         description: 'Redirect after processing the new user information.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Failure:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /bestsellers:
      get:
          operationId: R203
          summary: 'R203: View Best Selling Games'
          description: 'Provide a best selling games page. Access: PUB'
          tags:
            - 'M02: Products and Categories'
          responses:
            '203':
              description: 'Ok. Show games Page.'

 /comingsoon:
      get:
          operationId: R202
          summary: 'R202: View Coming Soon Games	'
          description: 'Provide a comming soon games page. Access: PUB'
          tags:
            - 'M02: Products and Categories'
          responses:
            '203':
              description: 'Ok. Show games Page.'

 /all:
      get:
          operationId: R204
          summary: 'R204: View All Games'
          description: 'Provide a general games page. Access: PUB'
          tags:
            - 'M02: Products and Categories'
          responses:
            '203':
              description: 'Ok. Show games Page.'

 /details/{game_id}:
      get:
          operationId: R401
          summary: 'R401: View Game Details'
          description: 'Provide a specific game page. Access: PUB'
          tags:
            - 'M04: Product and Reviews'
          responses:
            '203':
              description: 'Ok. Show game Page.'

 /categories:
      get:
          operationId: R205
          summary: 'R205: View Categories'
          description: 'Provide a general categories page. Access: PUB'
          tags:
            - 'M02: Products and Categories'
          responses:
            '203':
              description: 'Ok. Show games Page.'

 /categories/{categoryid}:
      get:
          operationId: R206
          summary: 'R206: View Categories'
          description: 'Provide a specififc category page. Access: PUB'
          tags:
            - 'M02: Products and Categories'
          responses:
            '203':
              description: 'Ok. Show category Page.'

 /cart:
      get:
          operationId: R602
          summary: 'R602: View contents of Shopping Cart	'
          description: 'View contents of cart. Access: USR, ADM, PUBLISHER'
          tags:
            - 'Module M06: Cart and Wishlist'
          responses:
            '203':
              description: 'Ok. Show cart UI.'

 /addtocart:
      post:
          operationId: R601
          summary: 'R601: Add Product to Shopping Cart	'
          description: 'Stores Cart Contents. Access: USR, ADM, PUBLISHER'
          tags:
            - 'Module M06: Cart and Wishlist'

          responses:
            '302':
              description: 'Redirect after processing the cart.'
              headers:
                Location:
                  schema:
                    type: string
                  examples:
                    302Success:
                      description: 'Redirect to cart.'
                      value: '/cart'
                    302Error:
                      description: 'Redirect to main page.'
                      value: '/all'

 /removefromcart:
      delete:
       operationId: R603
       summary: 'R603: Remove Product from Shopping Cart'
       tags:
        - 'Module M06: Cart and Wishlist'
       responses:
        '201' :
           description: 'Game successfuly removed'
        '404' :
           description: 'Game not found'
        '401' :
           description: 'Unauthorized Operation'

 /addToCartGuest/{game_id}:
      get:
          operationId: R604
          summary: 'R604: Add Product to Shopping Cart	'
          description: 'Store Cart Contents (Guest Only). Access: PUB'
          tags:
            - 'Module M06: Cart and Wishlist'
          responses:
            '203':
              description: 'Ok. Show cart UI.'

 /removeFromCart{game_id}:
      get:
          operationId: R605
          summary: 'R605: Remove Product from Shopping Cart (Guest Only). Access: PUB'
          tags:
            - 'Module M06: Cart and Wishlist'
          tags:
            - 'Module M06: Cart and Wishlist'
          responses:
            '203':
              description: 'Ok. Show cart UI.'

 /guestCheckout:
      get:
          operationId: R606
          summary: 'Checkout Form'
          description: 'Adds session cart items to a cookie in order to store this values temporarily. Access: PUB'
          tags:
            - 'M06: Cart and Wishlist'
          responses:
            '203':
              description: 'Ok. Show checkout Page.'

 /checkout:
      get:
          operationId: R607
          summary: 'Checkout Form'
          description: 'Show the checkout page. Access: PUB'
          tags:
            - 'M06: Cart and Wishlist'
          responses:
            '203':
              description: 'Ok. Show checkout Page.'

 /finalize:
      post:
          operationId: R608
          summary: 'R608: Checkout Action	'
          description: 'Checkout the items in the shopping cart. Access: USR'
          tags:
            - 'M06: Cart and Wishlist'
          responses:
            '302':
              description: 'Redirect after processing checkout.'
              headers:
                Location:
                  schema:
                    type: string
                  examples:
                    302Success:
                      description: 'Successful checkout. Redirect to games page.'
                      value: '/all'

 /profile:
   get:
     operationId: R106
     summary: 'R106: View profile'
     description: 'Show the individual user profile. Access: USR'
     tags:
       - 'M01: Authentication and Profile'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Show User Profile UI'

 /orders:
      get:
          operationId: R609
          summary: 'R609: View user orders	'
          description: 'View user orders. Access: USR, ADM, PUBLISHER'
          tags:
            - 'Module M06: Cart and Wishlist'
          responses:
            '203':
              description: 'Ok. Show orders UI.'

 /wishlist:
      get:
          operationId: R610
          summary: 'R606: View user wishlist	'
          description: 'View user wishlist. Access: USR, ADM, PUBLISHER'
          tags:
            - 'Module M06: Cart and Wishlist'
          responses:
            '203':
              description: 'Ok. Show wishlist UI.'

 /about-us:
      get:
          operationId: R501
          summary: 'R501: View About us page	'
          description: 'View About us page. Access: PUB'
          tags:
            - 'Module M05: Static Pages'
          responses:
            '203':
              description: 'Ok. Show about-us page.'

 /faq:
      get:
          operationId: R502
          summary: 'R502: View general FAQ page	'
          description: 'View general FAQ page. Access: PUB'
          tags:
            - 'Module M05: Static Pages'
          responses:
            '203':
              description: 'Ok. Show general FAQ page.'

 /faq/account:
      get:
          operationId: R503
          summary: 'R503: View account FAQ page	'
          description: 'View account FAQ page. Access: PUB'
          tags:
            - 'Module M05: Static Pages'
          responses:
            '203':
              description: 'Ok. Show account FAQ page.'

 /faq/games:
      get:
          operationId: R504
          summary: 'R504: View games FAQ page	'
          description: 'View games FAQ page. Access: PUB'
          tags:
            - 'Module M05: Static Pages'
          responses:
            '203':
              description: 'Ok. Show games FAQ page.'

 /contacts:
      get:
          operationId: R505
          summary: 'R505: View contacts page	'
          description: 'View contacts page. Access: PUB'
          tags:
            - 'Module M05: Static Pages'
          responses:
            '203':
              description: 'Ok. Show contacts page.'

 /addtowishlist:
      post:
          operationId: R607
          summary: 'R607: Add Product to wishlist	'
          description: 'Add Product to wishlist. Access: USR, ADM, PUBLISHER'
          tags:
            - 'Module M06: Cart and Wishlist'

          responses:
            '302':
              description: 'Redirect after processing the wishlist.'
              headers:
                Location:
                  schema:
                    type: string
                  examples:
                    302Success:
                      description: 'Redirect to wishlist.'
                      value: '/wishlist'
                    302Error:
                      description: 'Redirect to login.'
                      value: '/login'

 /removefromwishlist:
      delete:
       operationId: R608
       summary: 'R608: Remove Product from wishlist'
       tags:
        - 'Module M06: Cart and Wishlist'
       responses:
        '201' :
           description: 'Game successfuly removed'
        '404' :
           description: 'Game not found'
        '401' :
           description: 'Unauthorized Operation'

 /publishreview:
      post:
          operationId: R401
          summary: 'R401: Publish a review	'
          description: 'Publish a review. Access: USR, ADM, PUBLISHER'
          tags:
            - 'Module M04: Product and Reviews'

          requestBody:
            required: true
            content:
              application/x-www-form-urlencoded:
                schema:
                  type: object
                  properties:
                    email:
                      type: string
                    password:
                      type: string
                    text:
                      type: string
                  required:
                        - email
                        - password
                        - text

          responses:
            '302':
              description: 'Redirect after processing the review.'
              headers:
                Location:
                  schema:
                    type: string
                  examples:
                    302Success:
                      description: 'Redirect to game.'
                      value: '/details/{game_id}'
                    302Error:
                      description: 'Redirect to login.'
                      value: '/login'

 /removereview:
      delete:
          operationId: R402
          summary: 'R402: Remove a review	'
          description: 'Remove a review. Access: USR, ADM, PUBLISHER'
          tags:
            - 'Module M04: Product and Reviews'
          responses:
            '201' :
              description: 'Review successfuly removed'
            '404' :
              description: 'Review not found'
            '401' :
              description: 'Unauthorized Operation'

 /admin/dashboard:
      get:
          operationId: R301
          summary: 'R301: Show admin dashboard page	'
          description: 'Shows admin dashboard page. Access: ADM'
          tags:
            - 'Module M03: Management Area'
          responses:
            '203':
              description: 'Ok. Show dashboard page.'

 /admin/orders:
      get:
          operationId: R302
          summary: 'R302: List all orders	'
          description: 'Lists all orders. Access: ADM'
          tags:
            - 'Module M03: Management Area'
          responses:
            '203':
              description: 'Ok. Show orders page.'

 /admin/users:
      get:
          operationId: R303
          summary: 'R303: Show all Users	'
          description: 'Shows all Users in pagination mode. Access: ADM'
          tags:
            - 'Module M03: Management Area'
          responses:
            '203':
              description: 'Ok. Show users page.'

 /admin/userinfo:
      get:
          operationId: R304
          summary: 'R304: Show User INfo	'
          description: 'Shows User info. Access: ADM'
          tags:
            - 'Module M03: Management Area'
          responses:
            '203':
              description: 'Ok. Show user page.'

 /admin/form/createnewuser:
      get:
          operationId: R305
          summary: 'R305: Create new user account	'
          description: 'Creates new user account. Access: ADM'
          tags:
            - 'Module M03: Management Area'
          responses:
            '203':
              description: 'Ok. Show user page.'

 /admin/createnewuser:
      post:
          operationId: R305
          summary: 'R305: Create new user account	'
          description: 'Creates new user account. Access: ADM'
          tags:
            - 'Module M03: Management Area'

          requestBody:
            required: true
            content:
              application/x-www-form-urlencoded:
                schema:
                  type: object
                  properties:
                    email:
                      type: string
                    password:
                      type: string
                  required:
                        - email
                        - password

          responses:
            '302':
              description: 'Redirect after processing the credentials.'
              headers:
                Location:
                  schema:
                    type: string
                  examples:
                    302Success:
                      description: 'Redirect to user page.'
                      value: '/admin/userinfo'
                    302Error:
                      description: 'Redirect to all users page.'
                      value: '/admin/users'

